.screen-header{
    margin-bottom: 0px;
}

.view-list {
    padding: 0px var(--horizontal-space);
}
.view-list__list {
    display: flex;
    justify-content: space-around;
    padding: 25px 0px;
    border-bottom: var(--main-border);
}


.slider{
    width: 550px;
    height: 390px;
    position: relative;
    margin: 15px auto;
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type=radio]{
    display: none;
}
ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}
.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 15px;
    height: 15px;
    cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}


.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
  }
  
  .open-chat__header span {
    opacity: 0.6;
  }
  
  .open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .open-post_2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
  
  .open-post__title {
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
  }
  
  .open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
  }
  
  .open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
  }
  
  .open-post__members .divider {
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .open-post__member-status {
    color: #ffb0e0;
  }

  .open-post__photo img {
      width:120px;
      height: 120px;
      border-radius: 10px;
  }
 .open-post__photo {
     position: relative;
 }

  .open-post__heart-count{
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 5px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 14px

  }
  .open-post__heart-count span {
      margin-left: 3px;
  }

  .open-post_2 {
     margin-top: 40px;
  }

  @keyframes heartBeat {
      0%{
          color: white;
          transform: none;

      }
      50%{
          color: tomato;
          transform: scale(1.5);
 
      }
      100%{
          color: white;
          transform: none;

      }
  }

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}