#no-mobile {
    background-color: #f8e7e7;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .no-mobile__img {
      margin-bottom: 20px;
  }

  .no-mobile__text {
      font-size: 25px;
      font-weight: 600;
      opacity: 0.8;

  }
  
  @media screen and (max-width: 645px) {
    #no-mobile {
      display: none;
    }
  }