.search-box{
    display: flex;
    justify-content: flex-start;
}
.search-box__1{  
    margin: 5px var(--horizontal-space);
    width: 200px;
    height: 50px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
 }
.search-box__1 input#search{
    width: 500px;
    height: 50px;
    background: #e4e4e4c9;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
.search-box__1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
 .search-box__1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
 .search-box__1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
 .search-box__1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .search-box__1 .search-box__icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: -6px;
    z-index: 1;
    color: #4f5b66;
  }

